<head>
    <link rel="stylesheet" href="../../fage.css">
</head>
<body>
    <div class="stats-display">
        <div class="stat">
            <div class="stat-name">
                {{localize fage.stats.acc}}
            </div>
            <div class="stat-value">
                <input type="text" name="data.acc" value="{{data.acc}}" data-dtype="Number" />
            </div>
        </div>
        <div class="focuses">

        </div>
    </div>
</body>
